/* Mobile view */
@media (max-width: 999px) {
  /* Adjusted for screens less than 1000 pixels */

  .expense-card {
    width: calc(95%);
    /* One cards per row */
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.339);
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }

  .cancelled-expense {
    background: #ffe0b2;
    color: #e65100;
  }

  .results-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .table-container h3 {
    font-size: 1rem;
  }

  .card-list {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
    /* Distribute items evenly */
  }

  .card-row {
    display: flex;
    justify-content: safe;
    margin-bottom: 0.5rem;
  }

  .card-label {
    font-weight: 600;
    color: #555;
  }

  .card-value {
    color: #222;
  }

  .card-value-status {
    font-weight: 700;
  }

  /* Pagination Styles */
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .pagination-button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    color: #333;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .page-info {
    margin: 0 10px;
    color: #666;
  }

  .no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    margin-top: 20px;
  }
  
}