/* Mobile view */
@media (max-width: 999px) {
  /* Adjusted for screens less than 1000 pixels */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    position: sticky;
    width: 89%;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    align-content: space-around;
  }

  .menu-icon {
    display: block;
    width: 10%;
    align-content: space-around;
    /* Show hamburger icon on mobile */
    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;
    color: white;
  }

  /* Hide large screen links on mobile */
  .navbar-links-large {
    display: none;
  }

  /* Overlay background covering entire viewport */
  .navbar-overlay {
    position: fixed;
    top: 9%;
    left: 1%;
    width: 100vw;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    /* on top */
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    justify-content: flex-left;
    /* menu slides in from right */
  }

  /* The actual menu container inside overlay */
  .navbar-links-overlay {
    background-color: rgb(51, 51, 51, 1);
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
  }

  .navbar-links-overlay a {
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #444;
  }

  .navbar-links-overlay a.active {
    background-color: #555;
  }
}