@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gilda+Display&display=swap');


.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-large {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply scroll-smooth scroll-pt-6;
  }

  /* 
  🟨🟨🟨🟨🟨🟨🟨🟨🟨
  Browser Main Scrollbar 
  🟨🟨🟨🟨🟨🟨🟨🟨🟨
  */

  html::-webkit-scrollbar {
    width: 8px;
  }

  html::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #a37d4c;
  }

  html::-webkit-scrollbar-track {
    background-color: #FFFFFF;
  }

  body {
    @apply font-secondary text-primary;
  }

  input::placeholder {
    @apply text-primary;
  }

  .h2 {
    @apply font-primary text-[45px] mb-4;
  }

  .h3 {
    @apply text-2xl font-primary font-semibold tracking-[1px] mb-2;
  }

  .btn {
    @apply text-[15px] tracking-[3px] font-tertiary uppercase text-white flex-1 transition-all px-8 flex justify-center items-center;
  }

  .btn-sm {
    @apply h-[48px];
  }

  .btn-lg {
    @apply h-[60px];
  }

  .btn-primary {
    @apply bg-accent hover:bg-accent-hover;
  }

  .btn-secondary {
    @apply bg-primary hover:bg-accent;
  }

  .btn-white {
    @apply bg-white text-[#0a0a0a];
  }
}